@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button @onclick="IncrementCount">Click me(Blazor)</button>
<MudButton OnClick="IncrementCount">Click Me(MudBlazor)</MudButton>
<RadzenButton Click="IncrementCount">Click Me(Radzen)</RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
